<h1>Sei in cerca di una partita</h1>

<form action="/annullamatch" method="post">

<input type="hidden" name="idPartita" value="<%= idPartita %>">

<button class="btn btn-primary" type="submit">Annulla ricerca</button>

</form>
